<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <script src="https://kit.fontawesome.com/fb030a63a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <h1>TODO App</h1>
    </header>
    <hr>
    <main>
        <div id="forms">
            <div id="desc">
                <h3>Description</h3>
                <input type="text" name="description" id="description-box" placeholder="What do you need to do">
            </div>
            <div id="catgry">
                <h3>Category</h3>
                <select name="categories" id="category-box">
                    <option value="per">Personal</option>
                    <option value="wrk">Work</option>
                    <option value="cln">Cleaning</option>
                    <option value="clg">College/School</option>
                    <option value="oth">Other</option>
                </select>
            </div>
            <div id="dates">
                <h3>Due Date</h3>
                <input type="date" name="date" id="date-box">
            </div>
            <hr id="line">
            <div class="buttons">
                <button id="add"><i class="fa-sharp fa-solid fa-plus"></i> Add Task</button>
                <button id="delete" ><i class="fa-sharp fa-solid fa-trash"></i>Delete Tasks</button>
            </div>
        </div>


    </main>
</body>
</html>