body{
    margin: 0%;
    background: linear-gradient(to bottom right,rgb(19, 1, 1),rgb(69, 3, 3));
    
}

header h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: rgb(246, 237, 225);
}
hr{
    height: 1.5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin: 30px 20px 10px 20px;
}
#forms{
    margin-left: 10px;
}
#forms h3{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:5px;
}
#forms input{
    height: 40px;
    width: 95%;
    outline: none;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
    padding-left: 10px;
    background-color: rgb(203, 198, 248);
    border: 2px solid rgb(47, 2, 2);
    font-family: cursive;
}
#forms input::placeholder{
    padding-left: 5px;
}
#forms input:focus{
    background-color: rgb(205, 201, 240);
}
#catgry{
    width: 50%;
    height: 115px;
    display: inline-block;
}
#category-box{
    margin-left: 10px;
    width: 94%;
    height: 30px;
    font-family: cursive;
    border: none;
    border-radius: 7px;
    font-size: medium;
    outline: none;
    padding-left: 5px;
    background-color: rgb(210, 206, 246);
    letter-spacing: 1px;
}
#dates{
    display: inline-block;
    vertical-align: top;
    width: 17%;
    height: 115px;
    padding-right: 25px;
}
#date-box{
    margin-top: -2px;
    width: 100px;
}
#line{
    height: 1.5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin:0px 20px 0px 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.buttons button{
    margin-right: 15px;
    height: 47px;
    width: 180px;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(242, 151, 151);
    outline: none;
    letter-spacing: 0.7px;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 3px 8px 1.8px rgb(255, 114, 114);
    transition: 0.2s ease-in-out;
}
#delete{
    background-color: rgb(213, 165, 238); 
    box-shadow: 1px 3px 8px 1.8px rgb(206, 114, 255);
}
#add{
    display: inline-block;
}
#delete{
    display: inline-block;
}
#add:hover{
    box-shadow: 1px 3px 10px 1.8px rgb(255, 238, 238);
    background-color: rgb(247, 134, 134);
    transform: scale(1.03);
}
#delete:hover{
    background-color: rgb(200, 134, 236); 
    box-shadow: 1px 3px 8px 1.8px rgb(228, 188, 249);
    transform: scale(1.03);
}
ul{
    list-style-type: none;
}
.tick-box{
    display: inline-block;
    vertical-align:top;
    margin-top: 10px;
}
.task-info{
    font-family: cursive;
    margin-left: 20px;
    margin-top: -15px;
    display: inline-block;
    width: 72%;
}
.task-info h3{
    letter-spacing: 1px;
    color: antiquewhite;
}
.task-info p{
    color: azure;
    padding-left: 5px;
}
.cat{
    display: inline-block;
    vertical-align: top;
}
.cat{
    border-radius: 3px;
    width: 100px;

    background-color: rgb(254, 121, 73);
}
.cat h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
}
.box{
    margin-bottom: 10px;
}
.done{
    margin-top: 12px;
    margin-left: 23px;
    vertical-align: top;
    display: inline-block;
}
.done a input{
    background: linear-gradient(135deg,rgb(110, 19, 122),rgb(231, 191, 243));
    outline: none;
    height: 42px;
    border-radius: 5px;
    width: 110px;
    font-weight:800;
    font-size: medium;
    letter-spacing: 1.2px;
    color: rgb(7, 9, 54);
    font-family:Arial, Helvetica, sans-serif;
    border-top: 1.5px solid rgb(74, 8, 74);
    border-left: 1.5px solid rgb(130, 48, 130);
    border-right: 1.5px solid rgb(161, 52, 239);
    border-bottom: 1.5px solid rgb(160, 102, 217);
    transition: 0.3s ease-in-out;
}
.done a input:hover{
    background: linear-gradient(135deg,rgb(104, 14, 104),rgb(210, 154, 227));
    box-shadow: 0px 0px 10px 2px rgb(238, 172, 249);
}
.outer-box{
    margin-bottom: 225px;
}